        <section class="section-1 pt-5">
          <div class="jumbotron jumbotron-fluid position-relative">
            <div class="container text-center w-75">
              <h1 class="title display-4 text-white">Find the perfect home</h1>
              <form action="./search.html" class="danger">
                <div
                  class="form-container d-flex flex-column text-center w-75 mx-auto"
                >
                  <div class="form-border border rounded text-left">
                    <div class="input-1 d-flex">
                      <i class="fas fa-city"></i>
                      <div class="input-container input-group d-flex">
                        <label for="city" class="text-white label-in w-100"
                          >City
                        </label>
                        <div class="in w-75 pb-3">
                          <input
                            type="text"
                            name="city"
                            class="w-100 border-0 rounded"
                            id="city"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="input-1 border-top d-flex">
                      <i class="fas fa-home"></i>
                      <div class="input-container input-group d-flex">
                        <div class="item w-50 border-right">
                          <label for="hood" class="w-100 label-in text-white"
                            >Neighborhood
                          </label>
                          <div class="in w-75 pb-3">
                            <input
                              type="text"
                              name="hood"
                              class="w-100 border-0 rounded"
                              id="hood"
                            />
                          </div>
                        </div>
                        <div class="item input-group w-25 pl-2 border-right">
                          <div class="d-flex svg-cont">
                            <i class="fas fa-tag"></i>
                            <label
                              for="price4"
                              class="w-100 text-white label-in"
                              >Price-range
                            </label>
                          </div>
                          <div class="in w-100 pb-2">
                            <select
                              id="price4"
                              class="custom-select h-75 py-0 border-0"
                            >
                              <option value="" class="selected"
                                >Choose...</option
                              >
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                            </select>
                          </div>
                        </div>
                        <div class="item input-group w-25 pl-2 pb-2">
                          <div class="d-flex svg-cont">
                            <i class="fas fa-bed"></i>
                            <label for="rooms" class="w-100 text-white label-in"
                              >Bedrooms
                            </label>
                          </div>

                          <div class="in w-100">
                            <select
                              id="rooms"
                              class="custom-select h-75 py-0 border-0"
                            >
                              <option value="" class="selected"
                                >Choose...</option
                              >
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                              <option value="">$1000</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-lg mt-5 mb-2 btn-primary border-0"
                  >
                    Find your dream home
                  </button>
                  <a href="#" class="text-white">Anounce your house</a>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="section-2">
          <div class="row">
            <div class="col-12">
              <h5 class="display-6 text-center text-red">
                Dream home works like this
              </h5>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12">
              <div
                class="item w-75 mt-5 d-flex flex-column mx-auto align-items-center mb-3"
              >
                <a href="#" class="title">
                  <i class="far fa-newspaper text-red"></i
                ></a>
                <h5 class="h6 font-weight-bold subtitle my-3 text-uppercase">
                  1 - Search
                </h5>
                <p class="lead text-center text-capitalize">
                  It's Simple. On Dream Home's Homepage, Enter the city of your
                  desired livelihood, and then select your other preferences.
                </p>
              </div>
              <div
                class="item mb-3 w-75 d-flex flex-column mx-auto align-items-center"
              >
                <a href="#" class="title">
                  <i class="fas fa-map-marked-alt text-red"></i
                ></a>
                <h5 class="h6 my-3 font-weight-bold subtitle text-uppercase">
                  2 - Locate
                </h5>
                <p class="lead text-center text-capitalize">
                  Get To See Where the desired house Is Located By Clicking On
                  The house Profile. It's Even More Exciting. You Can Get The
                  Directions From Anywhere In The Country
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 justify-content-center">
              <div
                class="item mb-3 mt-0 mt-lg-5 w-75 d-flex flex-column mx-auto align-items-center"
              >
                <a href="#" class="title">
                  <i class="far fa-file-alt text-red"></i
                ></a>
                <h5 class="h6 font-weight-bold my-3 subtitle text-uppercase">
                  3 - Apply
                </h5>
                <p class="lead text-center text-capitalize">
                  Apply For Your Interview To The House Of Your Choice. Click On
                  The APPLY Button To Get The Application Form. We Also Follow
                  Up On The Application To Make Sure You Get A Reply On Time.
                </p>
              </div>
              <div
                class="item w-75 d-flex flex-column mx-auto align-items-center"
              >
                <a href="#" class="title">
                  <i class="fas fa-umbrella-beach text-red"></i
                ></a>
                <h5 class="h6 font-weight-bold subtitle my-3 text-uppercase">
                  4 - Relax
                </h5>
                <p class="lead text-center text-capitalize">
                  Once Your lise Gets approved, You Can Now Relax.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="section-3">
          <div
            class="row d-flex item item-1 justify-content-between align-items-center py-4"
          >
            <div class="d-flex flex-column">
              <h5 class="h6 title font-weight-bold text-white">
                Over 10,000 houses registered with us
              </h5>
              <h6 class="text-white">Find the houses of your dreams</h6>
              <form class="form-group" action="./search.html">
                <button type="submit" class="btn btn-lg w-100">
                  Find a home
                </button>
              </form>
            </div>
            <div class="img">
              <div class="img-container">
                <img class="rounded-circle" src="./images/small1.jpg" alt="" />
              </div>
            </div>
          </div>
          <div
            class="row d-flex item item-2 justify-content-between align-items-center py-4"
          >
            <div class="d-flex flex-column">
              <h5 class="h6 title font-weight-bold text-white">
                Over 10,000 houses registered with us
              </h5>
              <h6 class="text-white">Find the houses of your dreams</h6>
              <form class="form-group" action="./search.html">
                <button type="submit" class="btn btn-lg w-100">
                  Find a home
                </button>
              </form>
            </div>
            <div class="img">
              <div class="img-container">
                <img class="rounded-circle" src="./images/index3.jpg" alt="" />
              </div>
            </div>
          </div>
          <div
            class="row d-flex item item-3 justify-content-between align-items-center py-4"
          >
            <div class="d-flex flex-column">
              <h5 class="h6 title font-weight-bold text-white">
                Over 10,000 houses registered with us
              </h5>
              <h6 class="text-white">Find the houses of your dreams</h6>
              <form class="form-group" action="./search.html">
                <button type="submit" class="btn btn-lg w-100">
                  Find a home
                </button>
              </form>
            </div>
            <div class="img">
              <div class="img-container">
                <img class="rounded-circle" src="./images/index2.jpg" alt="" />
              </div>
            </div>
          </div>
        </section>
        <section class="section-4">
          <div class="row">
            <div class="col-12">
              <h5 class="h6 text-center text-red my-5">See houses in London</h5>
            </div>
          </div>
         <%# <% if !@apartments_list.empty?%> %>
          <%# <%= render 'apartments/listsmall'%>  %>
          <%# <% end %>  %>
        </section>
