
<% provide(:title, @user.name)%>
<div class="row">
<div class="col4 mx-auto"><div class="media">
<%= gravatar_for @user%> <div class="media-body">
<h1 class="display-5 danger"> <%= @user.name %> </h1>
<p class="text-muted"> <%= @user.email%> </p></div>
</div>
</div></div>
