<div class="row">
    <div class="col-9 mx-auto">
        <h2 class="display-5 text-dark">Here you can check all the info of your apartment</h2>
    </div>
</div>

<div class="row">
    <div class="col-5 mx-auto">
        <p>
           Here is the adress of your place: <%= @apartment.adress%> 
        </p>
        <p>
          Here is the price: <%= @apartment.price %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <%= link_to 'Here you can check all apartments for sale', apartments_path, class: 'text-red'%>
    </div>
</div>